.movies__button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies__button {
  width: 320px;
  height: 36px;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 80px;
  border: #E8E8E8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.movies__button:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}

@media screen and (max-width: 767px) {
  .movies__button {
    width: 240px;
  }
}